@media screen and (max-width: 767px) {
	.navbar-default .navbar-collapse {
		border-color: white !important;
	}

	.navbar-nav {
		text-align: center;
	}

	.parallax {
		background-position: inherit !important;
		height: 200px !important;
	}
}

body {
	border: 8px solid #494C4E;
	margin: 0px !important;
	color: #494C4E !important;
	font-family: 'EB Garamond', serif !important;
	font-size: 1.4em !important;
}

.special-font {
	font-family: 'EB Garamond', serif !important;
}

h1,
h2,
h3,
h4 {
	font-family: 'Open Sans', sans-serif !important;
}

h1 {
	font-size: 2.5em !important;
}

header {
	font-family: 'EB Garamond', serif !important;
}

.parallax {
	background-image: url("/hero-banner.jpeg");
	height: 400px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

p {
	font-family: 'EB Garamond', serif !important;
	font-size: 1.4em !important;
	line-height: 2em !important;
	margin-bottom: 1.5em !important;
}

.form-control {
	font-size: 1.4em !important;
}

.navbar-default {
	background-color: white !important;
	border: none !important;
	padding-top: 30px;
}

.navbar-brand {
	padding: 6px 15px 15px 15px !important;
}

#cstm-img {
	height: auto;
	width: 100%;
	max-height: 400px;
}

.cstm-button {
	width: 100%;
	background-color: white;
	border: 2px solid #2e66a5;
	border-radius: 4px;
	color: #494C4E;
}

.cstm-button:hover {
	background-color: white;
	border: 2px solid #2e66a5;
	opacity: .4;
	color: #494C4E;
}

.blue {
	color: #2e66a5;
}

a,
a:visited,
a:hover,
a:active {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
	transition: 0.5s color ease;
	text-decoration: none !important;
	color: #494C4E !important;
	font-size: 1.5em;
}

a.before:before,
a.after:after {
	content: "";
	transition: 0.5s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
}

a.before:before {
	top: -0.25em;
}

a.after:after {
	bottom: -0.25em;
}

a.before:before,
a.after:after {
	height: 5px;
	height: 0.2rem;
	width: 0;
	background: #2e66a5;
}

a.before:hover:before,
a.after:hover:after {
	width: 100%;
}

a.tenth:before {
	left: 0;
}

a.tenth:after {
	right: 0;
}

.square {
	box-sizing: border-box;
	margin-left: -0.4em;
	position: relative;
	font-size: 1.5em;
	overflow: hidden;
}

.square a {
	position: static;
	font-size: 100%;
	padding: 0.2em 0.5em;
}

.square:before,
.square:after {
	content: "";
	box-sizing: border-box;
	transition: 0.25s all ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	width: 5px;
	width: 0.2rem;
	height: 0;
	background: #2e66a5;
}

.square:before {
	left: 0;
	bottom: -0.2em;
}

.square:after {
	right: 0;
	top: -0.2em;
}

.square a:before {
	left: 0;
	transition: 0.25s all ease;
}

.square a:after {
	right: 0;
	transition: 0.25s all ease;
}

.square:hover:before,
.square:hover:after {
	height: calc(100% + 0.4em);
}

.square:hover a:before,
.square:hover a:after {
	width: 100%;
}

#myModal {
	top: 20%;
	outline: none;
}

.error {
	color: #FF9494;
	display: none;
}

.success {
	display: none;
}

.modal-content {
	border: 8px solid #494C4E !important;
	margin: 0px !important;
	color: #494C4E !important;
}

.cstm-pad {
	padding-left: 27px !important;
}

#box {
	border: 4px solid #494C4E;
}

#logo {
	height: auto;
	width: 100%;
	max-width: 50px;
}
